/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Common styles */

hr {
    border: 1px solid #f0f3f7;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.button {
    padding: 15px 40px;
    background-color: #E02C6D;
    border-radius: 50px;
    color: #ffffff;
    font-weight: 700;
    transition: 0.5s;
}

.container {
    width: 80%;
    margin: 0 auto;
}


/* Header section start */

.header-section {
    width: 100%;
    padding-top: 80px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .logo h1 {
    color: #3A3A3A;
    font-size: 24px;
    font-weight: 700;
}

.nav .menus {
    display: flex;
    align-items: center
}

.nav .menus .list-items ul {
    display: flex;
}

.nav .menus .list-items ul li {
    list-style: none;
}

.nav .menus .list-items ul li a {
    text-decoration: none;
    margin-right: 40px;
    font-size: 20px;
    font-weight: 600;
    color: #3A3A3A;
}

.menus .list-icons a {
    text-decoration: none;
    color: #3A3A3A;
}

.menus .list-icons a i {
    font-size: 30px;
    font-weight: 600;
    margin-right: 30px;
}


/* Header section end */


/* banner section start */

.banner-section {
    width: 100%;
    padding: 50px 0px;
}

.banner-items {
    display: flex;
}

.banner-contents {
    margin-top: 80px;
    width: 100%;
}

.banner-contents h1 {
    font-size: 52px;
    line-height: 70px;
    color: #3A3A3A;
    margin-bottom: 16px;
}

.banner-contents p {
    font-size: 16px;
    color: #3A3A3A;
    font-weight: 600;
}

.banner-contents a {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    margin-top: 16px;
    display: inline-block;
}

.banner-contents a i {
    margin-left: 10px;
}

.banner-img {
    width: 100%;
    text-align: center;
}

.banner-img img {
    width: 440px;
    height: 414px;
    transition: 1.5s;
}

.banner-img img:hover {
    transform: scale(1.3);
}


/* E-commerce section start */

.e-commerce-section {
    width: 100%;
    padding: 80px 0px 40px 0px;
}

.e-commerce-images {
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
}


/* Collection section start */

.collection-section {
    width: 100%;
    padding: 80px 0px;
}

.collection-title {
    text-align: center;
    padding-bottom: 20px;
}

.collection-title h1 {
    font-size: 28px;
    font-weight: 600;
}

.collection-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    justify-items: center;
}

.collection-item {
    border: 1px solid #ffffff;
    border-radius: 10px;
    width: 329px;
    height: 450px;
    padding: 15px 0;
    box-shadow: 7px 8px 12px 14px #88888813;
}

.collection-item .collection-image {
    text-align: center;
}

.collection-item .collection-image img {
    width: 300px;
    height: 256px;
}

.collection-content {
    padding: 0 20px;
}

.collection-content h1 {
    margin-bottom: 0;
    font-size: 28px;
    font-weight: 500;
    color: #18191F;
}

.collection-content h3 {
    font-size: 24px;
    color: #000000;
    font-weight: 400;
    margin: 3px 0;
}

.collection-content p {
    font-size: 14px;
    color: #787885;
    font-weight: 700;
}

.collection-content .ratings {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #5E6366;
    font-weight: 600;
}

.collection-content .ratings i {
    color: #FB8200;
    font-size: 11px;
    padding-right: 5px;
}

.fa-star-half-alt {
    margin-right: 10px;
}

.see-more {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}

.see-more a {
    text-decoration: none;
    color: #E02C6D;
    font-size: 16px;
    font-weight: 700;
}

.see-more a i {
    margin-left: 10px;
    color: #E02C6D;
}


/* feedback-section start */

.feedback-section {
    width: 100%;
    padding-bottom: 100px;
}

.feedback {
    text-align: center;
}

.feedback p {
    font-size: 16px;
    font-weight: 400;
    color: black;
    margin-bottom: 30px;
}

.feedback a {
    text-decoration: none;
}


/* Sign up section start */

.sign-up-section {
    width: 100%;
}

.sign-up {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}

.sign-up p {
    font-size: 19px;
    font-weight: 700;
    margin-right: 15px;
}

.sign-up input {
    font-size: 16px;
    font-weight: 400;
    margin-right: 15px;
    height: 50px;
    width: 200px;
    padding: 0 10px;
    margin-top: 7px;
    border-radius: 50px;
}

.sign-up a {
    text-decoration: none;
}


/* Footer section */

.footer-section {
    width: 100%;
    background-color: #0A0826;
    padding: 50px 0;
}

.footer-content {
    text-align: center;
}

.footer-content .footer-text h1 {
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
}

.footer-content .footer-text p {
    font-size: 14px;
    font-weight: 700;
    color: #D9DBE1;
    margin: 0;
}

.footer-content .social-icons {
    margin-top: 15px;
    display: inline-block;
}

.footer-content .social-icons a {
    text-decoration: none;
    color: #fff;
    border: 1px solid #2a283e;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background-color: #2a283e;
    margin-right: 18px;
    padding: 7px 13px;
}

.footer-content .social-icons a i {
    font-size: 14px;
}


/* Media query start */

@media only screen and (max-width: 688px) {
    .container {
        width: 100%;
    }
    .button {
        padding: 10px 30px;
    }
    /* header section */
    .header-section {
        padding-top: 50px;
    }
    .nav {
        display: grid;
        justify-content: center;
        justify-items: center;
    }
    .nav .menus {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .nav .menus .list-items ul li a {
        margin-right: 18px;
        font-size: 18px;
    }
    .menus .list-icons a i {
        font-size: 25px;
        margin-right: 18px;
    }
    .list-icons {
        display: flex;
    }
    /* banner section */
    .banner-section {
        padding: 30px 0px;
    }
    .banner-items {
        display: grid;
    }
    .banner-img img {
        Width: 257px;
        Height: 257px;
    }
    .banner-contents {
        margin-top: 40px;
        text-align: center;
    }
    .banner-contents h1 {
        font-size: 28px;
        line-height: 40px;
    }
    .banner-contents a {
        margin: 16px 0;
    }
    /* e-commerce section */
    .e-commerce-images {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        justify-items: center;
        grid-row-gap: 20px;
    }
    .e-commerce-images img {
        height: 25px;
        width: 60px;
    }
    .e-commerce-section {
        padding: 20px 0px 10px 0px;
    }
    /* collection section */
    .collection-section {
        padding: 70px 0px;
    }
    .collection-items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 30px;
    }
    .see-more {
        margin: 50px 30px 0px 0px;
    }
    /* feedback section */
    .feedback-section {
        padding-bottom: 80px;
    }
    /* sign up section */
    .sign-up {
        display: grid;
        justify-items: center;
        padding-bottom: 80px;
    }
    .sign-up p {
        text-align: center;
    }
    .sign-up input {
        margin-bottom: 20px;
        width: 260px;
        height: 40px;
    }
    /* footer section */
    .footer-content .footer-text p {
        font-size: 12px;
    }
    .footer-section {
        padding: 40px 0 50px 0;
    }
    .footer-content .social-icons a {
        margin-right: 3px;
    }
}

@media only screen and (min-width:688px) and (max-width:992px) {
    .button {
        padding: 10px 30px;
    }
    /* header section */
    .nav .menus .list-items ul li a {
        margin-right: 14px;
        font-size: 20px;
    }
    .list-icons {
        display: flex;
    }
    .menus .list-icons a i {
        font-size: 24px;
        margin-right: 14px;
    }
    ul {
        padding-left: 0;
    }
    /* banner section */
    .banner-img img {
        Width: 330px;
        Height: 310px;
    }
    .banner-contents h1 {
        font-size: 45px;
        line-height: 55px;
    }
    .banner-contents {
        margin-top: 50px;
    }
    /* E-commerce section */
    .e-commerce-section {
        padding: 50px 0px 40px 0px;
    }
    .e-commerce-images img {
        height: 35px;
        width: 70px;
    }
    /* collection section */
    .collection-section {
        padding: 70px 0px;
        width: 100%;
    }
    .collection {
        width: 70%;
        margin: 0 auto;
    }
    .collection-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 30px;
        grid-column-gap: 30px;
        justify-content: center;
    }
    .collection-item .collection-image img {
        width: 290px;
        height: 225px;
    }
    /* sign up section */
    .sign-up a {
        padding: 20px;
    }
    .sign-up P {
        margin-right: 10px;
    }
    .sign-up input {
        height: 50px;
        width: 180px;
    }
}